*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
     background-color: var(--bg-color);
     text-transform: uppercase;
     height: 70px;
     border-bottom: 1px solid var(--SpanColr);
}
nav ul .active{
   color: var(--SpanColr) !important;
}
.container{ 
    width: 85%;
    margin: 0 auto;
    color: var(--textColr);
    padding: 1rem 0;
    letter-spacing: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* #DarkMode{
        color: var(--SpanColr);
        cursor: pointer;
        font-size: 30px;
    } */
}
 nav .logo{
        display: flex;
        align-items: center;
}
nav .logo .p {
     padding-left: 5px;
     font-weight: 800;
     font-size: 30px; 
}
nav .container  ul{
    display: flex;
}
nav .container  ul  li{
     padding:0.5rem 1rem;
    color: var(--textColr);
}
nav .container ul li a{
    cursor: pointer;
    position: relative;
    color: var(--textColr);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    text-decoration: none;
            }

.logo .p::first-letter{
        color: var(--SpanColr);
       }

 nav #phone{
        color: var(--SpanColr);
        padding-left: 20px;
        font-weight: 900;
        font-size: large;
    }
  nav  #phoneList{
        display: flex;
        align-items: center;
        border-left: 1px solid white;
    }
    .container ul li a::after{
        position: absolute;
        content: "";
        background-color: var(--SpanColr);
        width: 0;
        height: 2px;
        bottom: -10px;
        right:  0;
        transition: 1s;
        -webkit-transition: 1s;
        -moz-transition: 1s;
        -ms-transition: 1s;
        -o-transition: 1s;
}
.container ul li:hover a::after{
 
    width: 100%;
    left:   0;

    }

.bars{
    display: none;
    width: 50px;
    padding: 0;
    cursor: pointer;
    height: 25px;
    transition:1s ;
    -webkit-transition:1s ;
    -moz-transition:1s ;
    -ms-transition:1s ;
    -o-transition:1s ;
      

}
.bars span{
    display: block;
    width: 80%;
    height: 3px;
    margin: 7px 0;
    background-color: var(--SpanColr);
}
    /* mobelLink */
 .mobelLink{
   display: flex;
   flex-direction: column;
   position: absolute;
   top: 70px;
    background-color: var(--bg-color);
   transition:0.4 ;
   -webkit-transition:0.4 ;
   -moz-transition:0.4 ;
   -ms-transition:0.4 ;
   -o-transition:0.4 ; 
}
.mobelLink #phoneList{
    border:none;
}
.mobelLink a{
    padding: 0;
}
.mobelLink li{
    transition: 0.5s;
    background-color: var(--bg-color);
    padding: 15px  20px;
    z-index: 999;
    transform: translateX(-200%);
    margin:  10px 5px;
    color: var(--textColr);
    border-bottom: 1px solid var(--SpanColr);
    cursor: pointer;
}
.mobelLink a{
    
    position: relative;
    color: var(--textColr);
    font-size: 20px;
    text-decoration: none;
    
            }
.mobelLink a:hover{
    color: var(--SpanColr);
}
.mobelLink li:nth-child(1){
     transition: 0.5s;
     -webkit-transition: 0.5s;
     -moz-transition: 0.5s;
     -ms-transition: 0.5s;
     -o-transition: 0.5s;
}
.mobelLink li:nth-child(2){
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
.mobelLink li:nth-child(3){
     transition: 1S; 
     -webkit-transition: 1S;
      -moz-transition: 1S; 
      -ms-transition: 1S; 
      -o-transition: 1S;
}
.mobelLink li:nth-child(4){
    transition: 1.2s;
    -webkit-transition: 1.2s;
    -moz-transition: 1.2s;
    -ms-transition: 1.2s;
    -o-transition: 1.2s;
}
.mobelLink li:nth-child(5){
    transition: 1.4s;
    -webkit-transition: 1.4s;
    -moz-transition: 1.4s;
    -ms-transition: 1.4s;
    -o-transition: 1.4s;
}
.mobelLink li:nth-child(6){
    transition: 1.5s;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -ms-transition: 1.5s;
    -o-transition: 1.5s;
}
.mobelLink li:nth-child(7){ 
    transition: 1.7; 
    -webkit-transition: 1.7;
     -moz-transition: 1.7; 
     -ms-transition: 1.7; 
     -o-transition: 1.7;
}


