


body {
  margin: 0;
  text-transform: capitalize;
  /*fontfamily*/font-family: 'Merriweather', serif;
  font-family: 'Playfair Display', serif;
background-color: var(--bg-color);

}
ul li{
  list-style: none;
}

