@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');

:root{
--SpanColr:#fec544;
--textColr:#fdfeff;
--parColor:RGB(169, 173, 184);
--bg-color:#070d1b;
--bg-2:#0a101e;

}


body {
  margin: 0;
  text-transform: capitalize;
  /*fontfamily*/font-family: 'Merriweather', serif;
  font-family: 'Playfair Display', serif;
background-color: var(--bg-color);

}
ul li{
  list-style: none;
}

