


#section6{
    background-color: var(--bg-2);
    color: white;

    #container{
        margin:  auto;
        padding: 2rem 0;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        div{
            width: 30%;
            margin: 1rem auto;
        }
        #project{     
            width: 100%;
            position: relative;
            margin: 10px auto;
            border: 1px solid var(--SpanColr) !important;
            border-radius: 20px;
            padding: 10px;
            overflow: hidden;
            & video{
                width: 100%;
                height: 100%;
                transition: 1s;
                -webkit-transition: 1s;
                -moz-transition: 1s;
                -ms-transition: 1s;
                -o-transition: 1s;
                transform: scale(0.9);
                -webkit-transform: scale(0.9);
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                -o-transform: scale(0.9);
}
        }
    }
}

#project span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--SpanColr);
    text-align: center;
    font-size: 20px;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    bottom: 0;
    left: 0;
    background-color: #060214a1;

    transition: height 1.5s ,opacity 1s;
    overflow: hidden;

}
#project:hover span{
    height: 0;
    opacity: 0;
   
    
}
#project:hover video{
    transform: rotate(0deg) scale(1) !important;
    -webkit-transform: rotate(0deg) scale(1) !important;
    -moz-transform: rotate(0deg) scale(1) !important;
    -ms-transform: rotate(0deg) scale(1) !important;
    -o-transform: rotate(0deg) scale(1) !important;
}


